xml/externam.dtd

<?xml version="1.0" encoding="UTF-8"?>
    <!ELEMENT bio (students*,empolyee*)>
    <!ELEMENT students (name,age,qulification)>
    <!ELEMENT empolyee (name,age,qulification,salary)>
    <!ELEMENT name (#PCDATA)>
    <!ELEMENT age (#PCDATA)>
    <!ELEMENT qulification (#PCDATA)>
    <!ELEMENT salary (#PCDATA)>
    <!ATTLIST name dtd2 CDATA #FIXED "aptech">
