xml/task.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT company (employee*, client*)>
<!ELEMENT employee (name, (email | number), password)>
<!ELEMENT client (name, email, password)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ATTLIST email task CDATA #FIXED "s.sroyaltybrand">
